@import "tailwindcss";
@import url('@fontsource/noto-sans-kr/500.css');
@import url('@fontsource/noto-sans-kr/700.css');

@theme {
  --color-primary: #4880EE;
  --color-red: #E84118;
  --color-gray: #DADADA;
  --color-light-gray: #F2F4F6;
  --color-white: #FFFFFF;
  --color-black: #222222;
  --color-primary-text: #353C49;
  --color-secondary-text: #6D7582;
  --color-subtle-text: #8D94A0;
  --color-title-text: #1A1E27;
}

body {
  font-family: 'Noto Sans KR', system-ui, -apple-system, sans-serif;
  font-weight: 400;
  font-display: swap;
  @apply text-primary-text;
}

button {
  cursor: pointer;
}

.small {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0%;
}

.caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

.body-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
}

.body-1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
}

.title-3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
}

.title-2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0%;
}

.title-1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
}